@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #fdfdfd;
    color: #111;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

@layer components {
    .btn-primary {
        @apply bg-[#36C1BD] text-white font-bold py-3 px-8 rounded-full shadow-lg hover:scale-105 transition-all active:scale-95;
        box-shadow: 0 10px 15px -3px rgba(54, 193, 189, 0.2);
    }
}